/* Footer Styling */
footer {
  background: linear-gradient(to bottom, #0a5cae 30%, #000000);  color: #f0f0f0;
  padding: 50px 0 20px;
  font-family: Arial, sans-serif;
}
// background: linear-gradient(to bottom, #2e68a4 30%, #000);

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 30px;
}

.footer-section h3 {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
  position: relative;
}

.footer-section h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 30px;
  height: 2px;
  background-color: #3498db;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #FFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #3498db;
}

.footer-section ul li a i {
  margin-right: 5px;
  color: #FFFF;
}

.social-links {
  margin-bottom: 20px;
}

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: #3498db;
  color: white                                                                                                                                                                                                                                                                                                  ;
  transform: translateY(-3px);
}

.newsletter h4 {
  margin-bottom: 15px;
}

.newsletter form {
  display: flex;
}

.newsletter input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  background-color: white;
}

.newsletter button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter button:hover {
  background-color: #2980b9;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #333;
  position: relative;
}

.back-to-top {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #3498db;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #2980b9;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
  }

  .footer-section {
      margin-bottom: 30px;
  }

  .back-to-top {
      right: 10px;
      bottom: 10px;
  }
}