@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ion-content {
    --background: #ffffff;
    --color: #333333;
    --padding: 20px;
}

ion-toolbar {
    --background: #0f2d79;
    --color: #ffffff;
}

ion-title {
    --color: #ffffff;
}

ion-item {
    --highlight-height: 2px;
    --highlight-color-focused: #43e7f3;
    --highlight-color-valid: #6f58d8;
    --highlight-color-invalid: #ff46be;
  }

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(1px);
}

.content.blurred {
    filter: blur(5px);
}

.pl {
    display: block;
    width: 4em;
    height: 4em;
}

.pl__ring,
.pl__ball1,
.pl__ball2 {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: 32px 32px;
}

.pl__ring {
    animation-name: ring;
}

.pl__ball1 {
    animation-name: ball1;
}

.pl__ball2 {
    animation-name: ball2;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }
}

/* Animation */
@keyframes ring {
    from {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(135deg);
    }

    15% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -122.52;
        transform: rotate(90deg);
    }

    35% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -65.34;
        transform: rotate(297.5deg);
    }

    55% {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(505deg);
    }

    70% {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(490deg);
    }

    85%,
    to {
        stroke-dashoffset: -122.52;
        transform: rotate(497.5deg);
    }
}

@keyframes ball1 {
    from {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-7deg);
    }

    60% {
        transform: rotate(399deg);
    }

    75% {
        transform: rotate(361deg);
    }

    90%,
    to {
        transform: rotate(374deg);
    }
}

@keyframes ball2 {
    from {
        transform: rotate(-21deg);
    }

    25% {
        transform: rotate(-47deg);
    }

    60% {
        transform: rotate(364deg);
    }

    75% {
        transform: rotate(326deg);
    }

    90%,
    to {
        transform: rotate(339deg);
    }
}

article {
    position: relative;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  article:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* More prominent shadow */
    transform: scale(1.02); /* Slightly scale up */
  }
  
  .article-image-container {
    width: 30%;
    height: auto;
    margin: 16px;
    overflow: hidden;
  }
  
  .article-image-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 0 15px;
  }
  
  .content-container .article-title {
    text-align: center;
    padding: 15px 0;
    margin: 0;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #eee;
  }
  
  .content-container .article-content {
    overflow: hidden;
    text-align: justify;
    color: #666;
  }
  
  .read-more-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    padding: 8px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .read-more-btn:hover {
    background-color: #4CAF50;
    color: black;
    border-radius: 30px;
  }
  