<body>
  <div class="liquid">
    <img src="/assets/core/sudut2.png" alt="liquid" class="liquid-img">
  </div>
  <div class="container">
    <div class="card">
      <div class="image-container">
        <img alt="Illustration of a person sitting on a chair with a laptop and a cup of coffee"
        src="/assets/image/baby.png" />
      </div>
      <h1>Selamat datang di Tiny Baby grow </h1>
      <p>Jelajahi semua perkembangan bayi anda berdasarkan umur dan kemampuan</p>
      <div class="button-container">
        <ion-button shape="round" (click)="onNavigateLogin()">Login</ion-button>
        <ion-button shape="round" color="light"(click)="onNavigateRegister()">Register</ion-button>
      </div>
    </div>
  </div>
  <div class="liquid2">
    <img src="/assets/core/sudut1.png" alt="liquid" class="liquid-img">
  </div>
</body>