<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="tertiary">Welcome</ion-text>
        <p><ion-text color="white"><strong>Nikhil Ag.</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/imgs/img.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>card</ion-title>
      <ion-avatar slot="end">
        <img src="assets/imgs/img.png" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>