ion-header {
    --background:white !important;
    ion-toolbar {
        --padding-start: 16px;
        --padding-end: 16px;
        ion-title {
            max-width: 40vh;
            ion-label {
                ion-text {
                    font-size: 1rem;
                }
                p {
                    ion-text {
                        font-size: 1.3rem !important;
                    }
                }
            }
        }
        ion-avatar {
            height: 2.5rem;
            width: 2.5rem;
            border: 1px solid var(--ion-color-tertiary);
            img {
                max-width: 100%;
            }
        }
    }
}

ion-content {
    --background: #f0f0f0;
    --color: #333333;
    --padding: 20px;
}