<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="center-tool">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <header>
    <div class="section__container header__container">
      <div class="header__image">
        <img src="../../assets/homepage/header-1.jpg" alt="header" />
        <img src="../../assets/homepage/header-2.jpg" alt="header" />
      </div>
      <div class="header__content">
        <div>
          <p class="sub__header">Selamat datang di panduan</p>
          <h1> <strong style="color: #1d54de;"> Tumbuh </strong>Kembang <br>Bayi <strong style="color: #ffd504;">0-36 Bulan</strong> </h1>
          <p class="section__subtitle">
            Website ini menguraikan tonggak perkembangan bayi dari usia 0 hingga 36 bulan dalam empat bidang utama yakni keterampilan motorik halus, keterampilan motorik kasar, sosialisasi dan kemandirian, serta kemampuan bicara dan bahasa.
          </p>
          <div class="action__btns">
            <button class="btn">Plan a Trip</button>
            <div class="story">
              <div class="video__image">
                <img src="../../assets/homepage/story.jpg" alt="story" />
                <span><i class="ri-play-fill"></i></span>
              </div>
              <span>Lihat cerita kami</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section__container destination__container">
    <div class="section__header">
      <div>
        <h2 class="section__title">Jenis <strong style="color: #1d54de;">kembang</strong> bayi</h2>
        <p class="section__subtitle">
          Kami merangkup jenis kembang bayi mulai dari perkembangan fisik, kognitif, emosional, bahasa dan perkembangan sensorik .
        </p>
      </div>
      <!-- <div class="destination__nav">
            <span><i class="ri-arrow-left-s-line"></i></span>
            <span><i class="ri-arrow-right-s-line"></i></span>
          </div> -->
    </div>
    <div class="destination__grid">
      <div class="destination__card">
        <img src="../../assets/homepage/destination-1.jpg" class="dest" alt="destination" />
        <div class="destination__details">
          <p class="destination__title">Origami</p>
          <p class="destination__subtitle">Motorik halus</p>
        </div>
      </div>
      <div class="destination__card">
        <img src="../../assets/homepage/destination-2.jpg" class="dest" alt="destination" />
        <div class="destination__details">
          <p class="destination__title">Jalan kaki</p>
          <p class="destination__subtitle">Motorik kasar</p>
        </div>
      </div>
      <div class="destination__card">
        <img src="../../assets/homepage/destination-4.jpg" class="dest" alt="destination" />
        <div class="destination__details">
          <p class="destination__title">Bicara dan bahasa</p>
          <p class="destination__subtitle">Tertawa</p>
        </div>
      </div>
      <div class="destination__card">
        <img src="../../assets/homepage/destination-3.jpg" class="dest" alt="destination" />
        <div class="destination__details">
          <p class="destination__title">Kemandirian</p>
          <p class="destination__subtitle">Makan tanpa bantuan</p>
        </div>
      </div>
    </div>
  </section>

  <section class="trip">
    <div class="section__container trip__container">
      <h2 class="section__title">Best trip package</h2>
      <p class="section__subtitle">
        Explore your suitable and dream places around the world. Here you can
        find your right destination.
      </p>
      <div class="trip__grid">
        <div class="trip__card">
          <img src="../../assets/homepage/trip-1.jpg" alt="trip" />
          <div class="trip__details">
            <p>Wasserwerk Frelberg, Germany</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.2</div>
            <div class="booking__price">
              <div class="price"><span>From</span> $300</div>
              <button class="book__now">Book Now</button>
            </div>
          </div>
        </div>
        <div class="trip__card">
          <img src="../../assets/homepage/trip-2.jpg" alt="trip" />
          <div class="trip__details">
            <p>Patagonia, Argentina and Chile</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.5</div>
            <div class="booking__price">
              <div class="price"><span>From</span> $450</div>
              <button class="book__now">Book Now</button>
            </div>
          </div>
        </div>
        <div class="trip__card">
          <img src="../../assets/homepage/trip-3.jpg" alt="trip" />
          <div class="trip__details">
            <p>The Dolomites, Italy</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.7</div>
            <div class="booking__price">
              <div class="price"><span>From</span> $400</div>
              <button class="book__now">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="view__all">
        <button class="btn">View All</button>
      </div>
    </div>
  </section>

  <section class="gallary">
    <div class="section__container gallary__container">
      <div class="image__gallary">
        <div class="gallary__col">
          <img src="../../assets/homepage/gallery-1.jpg" alt="gallary" />
        </div>
        <div class="gallary__col">
          <img src="../../assets/homepage/gallery-2.jpg" alt="gallary" />
          <img src="../../assets/homepage/gallery-3.jpg" alt="gallary" />
        </div>
      </div>
      <div class="gallary__content">
        <div>
          <h2 class="section__title">
            Our trip gallary that will inspire you
          </h2>
          <p class="section__subtitle">
            Explore your suitable and dream places around the world. Here you
            can find your right destination.
          </p>
          <button class="btn">View All</button>
        </div>
      </div>
    </div>
  </section>

  <section class="subscribe">
    <div class="section__container subscribe__container">
      <div class="subscribe__content">
        <h2 class="section__title">Subscribe to get special prize</h2>
        <p class="section__subtitle">
          Explore your suitable and dream places around the world. Here you
          can find your right destination.
        </p>
      </div>
      <div class="subscribe__form">
        <form>
          <input type="email" placeholder="Your email here" />
          <button class="btn" type="submit">Send</button>
        </form>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="section__container footer__container">
      <div class="footer__col">
        <h3>Pathway<span>.</span></h3>
        <p>
          Explore your suitable and dream places around the world. Here you
          can find your right destination.
        </p>
      </div>
      <div class="footer__col">
        <h4>Support</h4>
        <p>FAQs</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
        <p>Contact Us</p>
      </div>
      <div class="footer__col">
        <h4>Address</h4>
        <p>
          <span>Address:</span> 280 Wilson Street, Cima, California, 92323,
          United States
        </p>
        <p><span>Email:</span> info@pathway.com</p>
        <p><span>Phone:</span> +91 9876543210</p>
      </div>
    </div>
    <div class="footer__bar">
      Copyright © 2023 Web Design Mastery. All rights reserved.
    </div>
  </footer>
</ion-content>