@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

ion-content {
  --background: #FFFFFF;
  --color: #333333;
  display: flex;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
}


.center-tool {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-tool ion-title {
  text-align: center;
  flex: 1;
  color: black;
  font-family: 'Nunito';
  font-weight: 700;
}


ion-card-title {
  color: #0f2d79;
  font-family: 'Nunito';
  font-weight: 700;
}

.strong-star {
  color: #ffd504;
  font-family: 'Nunito';
  font-weight: 700;
}

.container1 {
  background-color: white;
  border-radius: 10px;
  height: 120px;
  padding: 5px;
  margin-top: 17px;
}

.you {
  color: #0f2d79;
  font-family: 'Nunito';
  font-weight: 700;
}


ion-card {
  margin: 0px 0px 10px 0px !important;
}


ion-item {
  --highlight-height: 2px;
  --highlight-color-focused: #43e7f3;
  --highlight-color-valid: #6f58d8;
  --highlight-color-invalid: #ff46be;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(1px);
}

.content.blurred {
  filter: blur(5px);
}

.pl {
  display: block;
  width: 4em;
  height: 4em;
}

.pl__ring,
.pl__ball1,
.pl__ball2 {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 32px 32px;
}

.pl__ring {
  animation-name: ring;
}

.pl__ball1 {
  animation-name: ball1;
}

.pl__ball2 {
  animation-name: ball2;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

/* Animation */
@keyframes ring {
  from {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(135deg);
  }

  15% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -122.52;
    transform: rotate(90deg);
  }

  35% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -65.34;
    transform: rotate(297.5deg);
  }

  55% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(505deg);
  }

  70% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(490deg);
  }

  85%,
  to {
    stroke-dashoffset: -122.52;
    transform: rotate(497.5deg);
  }
}

@keyframes ball1 {
  from {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-7deg);
  }

  60% {
    transform: rotate(399deg);
  }

  75% {
    transform: rotate(361deg);
  }

  90%,
  to {
    transform: rotate(374deg);
  }
}

@keyframes ball2 {
  from {
    transform: rotate(-21deg);
  }

  25% {
    transform: rotate(-47deg);
  }

  60% {
    transform: rotate(364deg);
  }

  75% {
    transform: rotate(326deg);
  }

  90%,
  to {
    transform: rotate(339deg);
  }
}

form {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

form:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

label {
  font-family: 'Nunito';
  font-weight: 600;
}

.second {
  margin-bottom: 10rem;
}

@media (min-width:768px) {
  form {
    max-width: none;
  }
}

fieldset {
  border: 2px solid #0056b3;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
}


legend {
  background-color: #0056b3 !important;
  color: white !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  font-weight: bold !important;
  float: none !important;
  width: auto !important;
  padding: none !important;
  margin-bottom: none !important;
  font-size: 12px !important;
  line-height: none !important;
}

input:focus {
  border: 1px solid #ccc;
  /* Atur border menjadi sama seperti default saat fokus */
  outline: none;
  /* Menghilangkan outline */
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.title span {
  --total: calc(var(--duration) + var(--delay));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: revealText 1s var(--total) forwards
}

.title span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #FFFFFF;
  animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after {
  border-top: 3px solid #f7d217;
}

@keyframes revealText {
  to {
    color: #000;
  }
}

@keyframes rollIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes rollOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(105%);
  }
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

// ftr
a {
  color: #fff;
  text-decoration: none;
}

.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
  background-color: #004658;
  color: #fff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #ffffff;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #027b9a;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}





.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill .2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #027b9a;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:480px) and (max-width:599px) {

  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:600px) and (max-width: 800px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}


article {
  position: relative;
  width: 100%;
  height: 350px;
  border: 1px solid #ccc;
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin: 20px auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

article:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* More prominent shadow */
  transform: scale(1.02);
  /* Slightly scale up */
}

.article-image-container {
  width: 30%;
  height: auto;
  margin: 16px;
  overflow: hidden;
}

.article-image-container img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.content-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  height: auto;
}


.text {
  display: flex;
  flex-direction: row-reverse;
  color: var(--others-blue-default, #0277bd);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  margin-top: 5px;
  margin-left: 7px;
}


.cb {
  --background: #0056b3 !important;
}

.content-container .article-title {
  text-align: center;
  padding: 15px 0;
  margin: 0;
  font-size: 24px;
  color: #333;
  // border-bottom: 2px solid #eee;
}

.content-container .article-content {
  overflow: hidden;
  text-align: justify;
  color: #666;
}

.read-more-btn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  border-radius: 5px;
}

.read-more-btn:hover {
  background-color: #4CAF50;
  color: black;
  border-radius: 30px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}