<header class="flex justify-between items-center p-6">
  <div class="text-2xl font-bold">
    Tiny Baby Growth
  </div>
</header>
<!-- Hero Section -->
<section class="flex flex-col md:flex-row items-center p-6 md:p-12">
  <div class="md:w-1/2 space-y-6">
    <h1 class="text-4l font-500">
      <strong>Hi moms</strong>, sebagai orang tua anda perlu tahu perkembangan bayi Anda
    </h1>
    <p class="text-gray-500">
      Website ini menguraikan tonggak perkembangan bayi dari usia 0 hingga 36 bulan dalam empat bidang utama yakni
      keterampilan motorik halus, keterampilan motorik kasar, sosialisasi dan kemandirian, serta kemampuan bicara dan
      bahasa.
    </p>
    <button class="bg-blue-600 text-white px-6 py-3 rounded-full">
      Mulai
    </button>
  </div>
  <div class="md:w-1/2 mt-6 md:mt-0">
    <img alt="Team meeting in a modern office" class="rounded-lg shadow-lg" height="400" src="assets/image/6.jpeg"
      width="600" />
  </div>
</section>
<!-- Our Client Section -->
<section class="p-6 md:p-12">
  <h2 class="text-2xl font-bold">
    Organisasi kami
  </h2>
  <p class="text-gray-600">
    Bekerja sama dengan tenaga kerja kesehatan
  </p>
  <div class="flex space-x-6 mt-6 overflow-x-auto whitespace-nowrap">
    <img class="logos" alt="Google logo" height="70" src="/assets/icon/logopoltek.jpg" width="120" />
    <img class="logos" alt="Google logo" height="70" src="/assets/icon/germas.png" width="120" />
  </div>
</section>

<!-- Services Section -->
<section class="p-6 md:p-12 bg-blue-white-gradient">
  <h2 class="text-2xl font-bold">
    Jenis <strong>kembang</strong> bayi
  </h2>
  <p class="text-gray-600">
    Kami merangkup jenis kembang bayi mulai dari perkembangan fisik, kognitif, emosional, bahasa dan perkembangan
    sensorik .
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-6">
    <div class="bg-white p-custom rounded-lg shadow-lg text-center relative group">
      <img src="/assets/trip/destination-1.jpg" alt="Business Idea"
        class="w-full h-full object-cover rounded-lg transition-opacity duration-300 group-hover:opacity-0" />
      <div
        class="absolute inset-0 flex flex-col items-center justify-center bg-white text-center rounded-lg opacity-0 transition-opacity duration-300 group-hover:opacity-100">
        <i class="fas fa-lightbulb text-blue-500 text-4xl mb-4"></i>
        <h3 class="text-xl font-bold">Motorik Halus</h3>
        <p class="text-gray-600">Bayi mampu melakukan gerakan yang halus dan kompleks dengan menggunakan otot-otot
          kecil, seperti jari-jari tangan dan pergelangan tangan</p>
      </div>
    </div>

    <div class="bg-white p-custom rounded-lg shadow-lg text-center relative group">
      <img src="/assets/trip/destination-2.jpg" alt="Business Idea"
        class="w-full h-full object-cover rounded-lg transition-opacity duration-300 group-hover:opacity-0" />
      <div
        class="absolute inset-0 flex flex-col items-center justify-center bg-white text-center rounded-lg opacity-0 transition-opacity duration-300 group-hover:opacity-100">
        <i class="fas fa-chart-line text-yellow-500 text-4xl mb-4"></i>
        <h3 class="text-xl font-bold">Motorik Kasar</h3>
        <p class="text-gray-600">Kemampuan bayi dalam melakukan gerakan yang melibatkan otot besar, seperti badan,
          lengan, dan kaki.</p>
      </div>
    </div>

    <div class="bg-white p-custom rounded-lg shadow-lg text-center relative group">
      <img src="/assets/trip/destination-4.jpg" alt="Business Idea"
        class="w-full h-full object-cover rounded-lg transition-opacity duration-300 group-hover:opacity-0" />
      <div
        class="absolute inset-0 flex flex-col items-center justify-center bg-white text-center rounded-lg opacity-0 transition-opacity duration-300 group-hover:opacity-100">
        <i class="fas fa-smile text-green-500 text-4xl mb-4"></i>
        <h3 class="text-xl font-bold">Bicara dan Bahasa</h3>
        <p class="text-gray-600">Mamama, Papapa , bayi mamapu berkomunikasi dengan orang lain walaupun hanya dengan
          memanggil dan tersenyum</p>
      </div>
    </div>
    <div class="bg-white p-custom rounded-lg shadow-lg text-center relative group">
      <img src="/assets/trip/destination-3.jpg" alt="Business Idea"
        class="w-full h-full object-cover rounded-lg transition-opacity duration-300 group-hover:opacity-0" />
      <div
        class="absolute inset-0 flex flex-col items-center justify-center bg-white text-center rounded-lg opacity-0 transition-opacity duration-300 group-hover:opacity-100">
        <i class="fas fa-burger text-green-500 text-4xl mb-4"></i>
        <h3 class="text-xl font-bold">Kemandirian</h3>
        <p class="text-gray-600">Dapat memanjat benda disekitar , memegang makanan dengan baik merupakan ciri bayi yang
          sehat</p>
      </div>
    </div>
  </div>
</section>
<!-- About Section -->
<!-- <section class="p-6 md:p-12">
  <div class="flex flex-col md:flex-row items-center">
    <div class="md:w-1/2">
      <img alt="Team working on a project" class="rounded-lg shadow-lg" height="400" src="/assets/image/12.jpeg"
        width="600" />
    </div>
    <div class="md:w-1/2 mt-6 md:mt-0 md:pl-12">
      <h2 class="text-2xl font-bold">
        Bagaimana bayi yang sehat ?
      </h2>
      <p class="text-gray-600">
        Bayi dan balita yang sehat ditandai dengan berat badan, tinggi badan, dan lingkar kepala yang sesuai dengan
        usianya.
        Pada masa bayi, kesehatan sangat ditentukan oleh nutrisi yang diberikan oleh ibu melalui ASI. Oleh karena itu,
        penting bagi ibu untuk memberikan ASI eksklusif selama 6 bulan pertama kehidupan bayi.
      </p>
    </div>
  </div>
</section> -->
<section>
  <div class="cbun">
    <ion-button shape="round">Round</ion-button>
  </div>
</section>

<section class="gallary">
  <div class="section__container gallary__container">
    <div class="image__gallary">
      <div class="gallary__col">
        <img src="../../assets/image/12.jpeg" alt="gallary" />
      </div>
      <div class="gallary__col">
        <img src="../../assets/image/30.jpeg" alt="gallary" />
        <img src="../../assets/image/36.jpeg" alt="gallary" />
      </div>
    </div>
    <div class="gallary__content">
      <div>
        <h2 class="section__title">
         Perjalanan kami untuk kebutuhan bayi anda
        </h2>
        <p class="section__subtitle">
          Jelajahi keinginan si kecil ,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere cupiditate architecto, odio provident nam amet similique at qui nihil accusantium? Rem molestias architecto atque eos officiis natus doloribus alias eius.
        </p>
        <button class="btn">View All</button>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials Section -->
<section class="p-6 md:p-12 bg-blue-white-gradient" style="margin-bottom: 6rem;">
  <h2 class="text-2xl font-bold">
    Clien kami mengatakan
  </h2>
  <p class="text-gray-600">
    Apa kata mereka yang sudah menggunakan baby growth
  </p>
  <div class="flex flex-col md:flex-row items-center mt-6">
    <div class="md:w-1/3">
      <img alt="Client photo" class="rounded-full shadow-lg" height="200" src="/assets/image/detail-bayi-12.jpeg"
        width="200" />
    </div>
    <div class="md:w-2/3 mt-6 md:mt-0 md:pl-12">
      <h3 class="text-xl font-bold">
        Nur Aisyah
      </h3>
      <p class="text-gray-600">
        "Awal nya saya khawatir apakah bayi saya sudah sesuai dengan tumbuh kembang nya, setelah saya coba menggunakan
        baby growth saya merasa tenang dan tidak khawatir lagi"
      </p>
      <div class="flex space-x-2 mt-4">
        <span class="w-3 h-3 bg-blue-600 rounded-full">
        </span>
        <span class="w-3 h-3 bg-gray-300 rounded-full">
        </span>
        <span class="w-3 h-3 bg-gray-300 rounded-full">
        </span>
        <span class="w-3 h-3 bg-gray-300 rounded-full">
        </span>
      </div>
    </div>
  </div>
</section>

<section class="trip">
  <div class="section__container trip__container">
    <h2 class="section__title">Layanan spesial kami</h2>
    <p class="section__subtitle">
      Kesehatan bayi merupakan keinginan seluruh ibu, kami memiliki service mulai dari pijat bayi, terapi bayi,
      perawatan secara menyeluruh untuk bayi
    </p>
    <div class="trip__grid">
      <div class="trip__card">
        <img src="../../assets/trip/pijat-bayi.jpg" alt="trip" />
        <div class="trip__details">
          <p>Pijat bayi, Id</p>
          <div class="rating"><i class="ri-star-fill"></i> 4.2</div>
          <div class="booking__price">
            <div class="price"><span>From</span> IDR 250.000</div>
            <button class="book__now">Book Now</button>
          </div>
        </div>
      </div>
      <div class="trip__card">
        <img src="../../assets/trip/cukur-bayi.jpg" alt="trip" />
        <div class="trip__details">
          <p>Potong Rambut, ID</p>
          <div class="rating"><i class="ri-star-fill"></i> 4.5</div>
          <div class="booking__price">
            <div class="price"><span>From</span> IDR 110.000</div>
            <button class="book__now">Book Now</button>
          </div>
        </div>
      </div>
      <div class="trip__card">
        <img src="../../assets/trip/terapi.jpg" alt="trip" />
        <div class="trip__details">
          <p>Terapi Bayi , ID</p>
          <div class="rating"><i class="ri-star-fill"></i> 4.7</div>
          <div class="booking__price">
            <div class="price"><span>From</span> IDR 350.000</div>
            <button class="book__now">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Newsletter Section -->
<!-- <section class="p-6 md:p-12">
  <div class="bg-blue-50 p-6 rounded-lg shadow-lg flex flex-col md:flex-row items-center">
    <div class="md:w-1/2">
      <h2 class="text-2xl font-bold">
        Subscribe
      </h2>
      <p class="text-gray-600">
        Dapatkan bimbingan penuh untuk bayi anda
      </p>
    </div>
    <div class="md:w-1/2 mt-6 md:mt-0 md:pl-12">
      <div class="flex">
        <input class="w-full p-3 rounded-l-lg border border-gray-300" placeholder="Enter your email address..."
          type="email" />
        <button class="bg-blue-600 text-white px-6 py-3 rounded-r-lg">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</section> -->
<!-- Footer -->

<app-footer></app-footer>
<!-- </body> -->